.add_site_form{

padding-left:10%;
padding-right:10%;
}
.add_site_form input{
font-size: 22px;
    height: 30px;
   
    padding-left: 5px;
}
.add_site_form select{
font-size: 16px;
    height: 35px;
   
    padding-left: 5px;

}
.add_site_form label{
font-size: 16px;
   

}

.add_site_form .submit{
font-size: 16px;
   margin-top:20px;

}

.site_nameh{
 font-size:16px;
color:#fff;
}
.site_nameh:hover{

text-decoration:none;
}

.site_item:nth-child(4),.site_item:nth-child(7),.site_item:nth-child(10){  

margin-left:0px;
}
.project_label{
padding:10px;
color:#fff;

}
.cont_bag{/*ggggggggggggg*/
    
    background: #FFFFFF;
}

.desk_count h1{/*gggggggggggggg*/
    
    color:#FFFFFF;
}
.bag-header h1{
    margin-left: 10px;
    
}
.bag-header{
    
border-bottom: 1px solid #EEEEEE;
    margin-bottom:6px;
}
