.row-fluid
        //
           start: Main Menu 
        #sidebar-left.span2
          .row-fluid.actions
            .project_label #{site_name}
          .nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a(href='/dash')
                  i.icon-bar-chart
                  span.hidden-tablet  Dashboard
              li
                a(href='/popular')
                  i.icon-eye-open
                  span.hidden-tablet  Popular
              li
                a.dropmenu(href='#')
                  i.icon-folder-close-alt
                  span.hidden-tablet  Geography
                  span.label 3
                ul
                  li
                    a.submenu(href='/geocluster')
                      i.icon-hdd
                      span.hidden-tablet  Geo cluster
                  li
                    a.submenu(href='messages.html')
                      i.icon-envelope
                      span.hidden-tablet  Messages
                  li
                    a.submenu(href='tasks.html')
                      i.icon-tasks
                      span.hidden-tablet  Tasks
        //
           end: Main Menu 
