.row-fluid
        //
           start: Main Menu 
        #sidebar-left.span2
          .row-fluid.actions
            .project_label Select Project
            .controls
              select#selectError30.btn-warning.span
                option Option 1
                option Option 2
                option Option 3
                option Option 4
                option Option 5
          .nav-collapse.sidebar-nav
            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a(href='/dash')
                  i.icon-bar-chart
                  span.hidden-tablet  Dashboard
              li
                a(href='/popular')
                  i.icon-eye-open
                  span.hidden-tablet  Popular
              li
                a(href='widgets.html')
                  i.icon-dashboard
                  span.hidden-tablet  Widgets
              li
                a.dropmenu(href='#')
                  i.icon-folder-close-alt
                  span.hidden-tablet  Example Pages
                  span.label 3
                ul
                  li
                    a.submenu(href='infrastructure.html')
                      i.icon-hdd
                      span.hidden-tablet  Infrastructure
                  li
                    a.submenu(href='messages.html')
                      i.icon-envelope
                      span.hidden-tablet  Messages
                  li
                    a.submenu(href='tasks.html')
                      i.icon-tasks
                      span.hidden-tablet  Tasks
              li
                a(href='form.html')
                  i.icon-edit
                  span.hidden-tablet  Forms
              li
                a(href='chart.html')
                  i.icon-list-alt
                  span.hidden-tablet  Charts
              li
                a(href='typography.html')
                  i.icon-font
                  span.hidden-tablet  Typography
              li
                a(href='gallery.html')
                  i.icon-picture
                  span.hidden-tablet  Gallery
              li
                a(href='table.html')
                  i.icon-align-justify
                  span.hidden-tablet  Tables
              li
                a(href='calendar.html')
                  i.icon-calendar
                  span.hidden-tablet  Calendar
              li
                a(href='file-manager.html')
                  i.icon-folder-open
                  span.hidden-tablet  File Manager
              li
                a(href='icon.html')
                  i.icon-star
                  span.hidden-tablet  Icons
              li
                a(href='login.html')
                  i.icon-lock
                  span.hidden-tablet  Login Page
        //
           end: Main Menu 