.navbar(ng-app='nav')
      .navbar-inner.bg-none
        .container-fluid
          .row-fluid
            a.brand.span2.bg-none(href='/')
              span StayTrack
          //
             start: Header Menu 
          .nav-no-collapse.header-nav
            ul.nav.pull-right
              li.dropdown
                a.btn(href='#')
                  |Features
              li.dropdown
                a.btn(href='#')
                  |Plans & Pricing
              li.dropdown
                a.btn(href='#')
                  |Blog
              li.dropdown
                a.btn.btn-login(href='#')
                  |Log in
              li.dropdown
                a.btn.btn-primary(href='#signup')
                  |Sign Up
                
