//
     start: Header 
    .navbar(ng-app='nav')
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#main-menu-toggle.hidden-phone.open
            i.icon-reorder
          .row-fluid
            a.brand.span2(href='index.html')
              span SimpliQ
          //
             start: Header Menu 
          include top_header.jade
    //
       start: Header 
    .container-fluid-full
      include menu.jade
        //
           start: Content 
        #content.span10(ng-controller="addSiteController")
           .row-fluid
              .box.span8
                .box-content
                 .add_site_form
                  .page-header
                    h1
                     | Add an Site in Seconds & Start Tracking
                    small Headings, paragraphs, lists, and other inline type elements
                  form.form-horizontal(action='/newsite_submit',method='post',name='newsite_form')
                    fieldset
                        .control-group
                         label(for='focusedInput') Enter your Site Name
                         input#focusedInput.input-xlarge.focused(type='text',name='sname', ng-model='signup.sname',required,ng-minlength=3)
                         .error(ng-show='newsite_form.email.$dirty && signup_form.sname.$invalid')
                           small.error(ng-show='newsite_form.sname.$error.required')
                            | Your Email is required.
                           small.error(ng-show='newsite_form.sname.$error.email')
                            | Your Email should be valid one.
                           small.error(ng-show='newsite_form.sname.$error.unique')
                            | Email already exist.
                         span.help-block suitable custom name for your site
                        .control-group
                         label(for='focusedInput') Enter your Site URL
                         input#focusedInput.input-xlarge.focused(type='text', name='surl', ng-model='signup.surl',required)
                         span.help-block eg: www.example.com
                        .control-group
                          label(for='selectError3') Pick your Country
                          select#selectError3.span
                             option Option 1
                             option Option 2
                             option Option 3
                             option Option 4
                             option Option 5
                         .control-group
                          label(for='selectError3') TimeZone
                          select#selectError3.span
                             option Option 1
                             option Option 2
                             option Option 3
                             option Option 4
                             option Option 5
                      .control-group
                        button.btn.btn-primary.span6.submit(type='submit') Click and get Your Tracking code
               .box.span4
                 .box-content
                  .page-header
                    h1
                     | "Hi #{username}"
                    h4 "We will guidline you"
                
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
