//
     start: Header 
    .navbar(ng-app='nav')
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#main-menu-toggle.hidden-phone.open
            i.icon-reorder
          .row-fluid
            a.brand.span2(href='index.html')
              span SimpliQ
          //
             start: Header Menu 
          include top_header.jade
    //
       start: Header 
    .container-fluid-full
      include menu.jade
        //
           start: Content 
        #content.span10
          .row-fluid(ng-controller='dashController')
            .box.span12
              .box-header
                h2
                  i.icon-user
                  span.break
                  | Todays top content {{name}}
                .box-icon
                  a.btn-setting(href='#')
                    i.icon-wrench
                  a.btn-minimize(href='#')
                    i.icon-chevron-up
                  //
                    <a href="#" class="btn-close"><i class="icon-remove"></i></a>
              .box-content
                .row-fluid
                  .span6
                    //
                      page size :
                      <a href="javascript:void(0)" style="padding-left:10px" ng-click="setPageSize(pageSize)" ng-repeat="pageSize in [10,20,30]"> {{pageSize}}</a>
                    label
                      | records per page:
                      //
                        <select name="DataTables_Table_0_length" size="1"  aria-controls="DataTables_Table_0">
                        <option ng-repeat="pageSize in [10,20,30]" value="{{pageSize}}" data-ng-click="setPageSize(pageSize)" >{{pageSize}}</option>
                        </select>
                      a(href='javascript:void(0)', style='padding-left: 10px;', ng-click='setPageSize(pageSize)', ng-repeat='pageSize in [10,20,30]')  {{pageSize}}
                  //
                     span6 
                  .span6
                    label
                      | Search:
                      input(type='text', ng-model='searchText')
                  //
                    span6
                //
                  row
                //
                  <div class="available-headers">
                  <span class="available-header" ng-click="toggleHeader(header)" ng-repeat="header in availableHeaders" style="border:1px solid black; padding:10px; border-radius:10px; line-height:40px;">
                  {{header}}
                  </span>
                  </div>
                  <div class="page-size" style="padding-top:10px; padding-bottom:10px;">
                  page size :
                  <a href="javascript:void(0)" style="padding-left:10px" ng-click="setPageSize(pageSize)" ng-repeat="pageSize in [10,20,30]"> {{pageSize}}</a>
                  </div>
                table.table.table-striped.table-bordered
                  tr
                    td(ng-class='{\'sortBy\' : head == orderHeader,\'asc\':head == orderHeader && orderDirection == true,\'desc\':head == orderHeader && orderDirection == false}', ng-click='orderTableBy(head)', ng-repeat='head in headers')
                      | {{head}}
                  tr(ng-repeat='d in tableData | pagingFilter:dataPageSize:dataCurrentPage')
                    td(ng-repeat='head in headers')
                      | {{d[head]}}
                .row-fluid
                  .span12
                    | Found {{tableData.length}} search results
                  .span12.center
                    .dataTables_paginate.paging_bootstrap.pagination
                      paging(data='tableData = ( data | orderBy:orderHeader:orderDirection | filter:searchText )', current-page='dataCurrentPage', page-size='dataPageSize')
          //
            row 
        //
           end: Content 
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
