//
     start: Header 
    .navbar(ng-app='nav')
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.top-nav.nav-collapse,.sidebar-nav.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a#main-menu-toggle.hidden-phone.open
            i.icon-reorder
          .row-fluid
            a.brand.span2(href='index.html')
              span SimpliQ
          //
             start: Header Menu 
          include top_header.jade
    //
       start: Header 
    .container-fluid-full
      // include menu.jade
        //
           start: Content 
        #content.span12(ng-controller="sitesController")
         .row-fluid
          .span8
           .row-fluid
             h1(class="headone")
              i(class="icon-desktop") 
              |Sites
              a(class="headone_add",href="sites/new")
               i(class="icon-plus-sign")
           .row-fluid
            .span12(ontablet='span12', ondesktop='span12')
                .span4.smallstat.box.site_item.mobileHalf(ng-repeat="site in sites")
                  .boxchart-overlay.blue
                    a.site_nameh(href="/dash?siteid={{site.project_id}}") {{site.project_name}}
                  .title 
                  | {{site.project_url}}
                  .value
                  | {{site.project_name}}
                  .title
                  | Views by {{site.total_page_views}}
                  .value
                  .title People 
          .span3
           .box
            .box-content
              h1
              | hai try to assist you
              h1
              h1
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
