<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

$(document).ready( function() {

alert(username);
	var myData = [];
	var mytitle= [];
    $('#tpHourVisitBar').tpgraph({
       ydata       : myData,
       xdata       : mytitle
      
	});
	
	
	//todays top content ajax load project home page
	
	var projectID="";
	if(projectID != ''){
	$('#top_content_tbl_data').html('Loading...');
	var urlname='dashboard/list_todays_top_content';
	$.ajax({
		type: "POST",
		url: urlname,
		data: {project_id: projectID }
		}).done(function( msg ) {
			$('#top_content_tbl_data').html(msg);
	});
	}//if ends
		
	
	
	
});//ready ends

	
	
	
	


</script>
-->
<script>

    
var myApp = angular.module("dashboard",[]);
myApp.controller("dashController", function( $scope, $http ){
$scope.headers = ["name","count"];
$scope.dataPageSize = 10;
$scope.overall=30;
$scope.setPageSize = function(pageSize){$scope.dataPageSize = pageSize;}
$scope.toggleHeader = function( header ){
var headerIndex = $scope.headers.indexOf(header);
if ( headerIndex >= 0 ){
$scope.headers.splice(headerIndex,1);
}else{
$scope.headers.push(header);
}
};
$scope.orderHeader = 'count';
$scope.orderDirection = true;

$scope.orderTableBy = function(header){
	
if ( $scope.orderHeader == header && $scope.orderDirection == false){
$scope.orderHeader = null; // clear sort.
}
else if ( $scope.orderHeader == header ){
$scope.orderDirection = false;
}else{
$scope.orderHeader = header;
$scope.orderDirection = true;
}
};
 
$scope.availableHeaders = [];


$http.get('dashboard/list_todays_top_content_json').success(function(d) {
	 		

        
          
          $scope.data = d;
for ( header in $scope.data[0] ){
$scope.availableHeaders.push(header);
}
console.log($scope.data)
$scope.$apply(function(){
	
$scope.data = d;
for ( header in $scope.data[0] ){
$scope.availableHeaders.push(header);
}
console.log($scope.data)
});	
			
  	});


});
 
myApp.filter("pagingFilter", function(){
return function(input, currentPage, pageSize ){
return input ? input.slice(currentPage * pageSize, currentPage * ( pageSize + 1 )) : [];
}
 
});
myApp.directive("paging", function(){
 
return {
template:'<ul><li><a href=""#><button class="blank_btn" href="#" ng-disabled="!hasPrevious()" ng-click="onPrev()">← Previous</button></a></li><li class="active"><a href="#">{{start()}} - {{end()}} out of {{size()}} </a></li><li><a href="#"> <button class="blank_btn" href="#" ng-disabled="!hasNext()" ng-click="onNext()">Next → </button></a></li><li ng-transclude=""></li> </ul>',
restrict:'AEC',
transclude:true,
scope:{
'currentPage':'=',
'pageSize':'=',
'data':'&'
 
},
link:function($scope, element, attrs){
 
$scope.size = function(){
 
return angular.isDefined($scope.data()) ? $scope.data().length : 0;
};
 
$scope.end = function(){
return $scope.start() + $scope.pageSize;
};
 
$scope.start = function(){
return $scope.currentPage * $scope.pageSize;
};
 
$scope.page = function(){
return !!$scope.size() ? ( $scope.currentPage + 1 ) : 0;
};
 
$scope.hasNext = function(){
return $scope.page() < ( $scope.size() / $scope.pageSize ) ;
};
 
$scope.onNext = function(){
$scope.currentPage = parseInt($scope.currentPage) + 1;
};
 
$scope.hasPrevious = function(){
return !!$scope.currentPage;
} ;
 
$scope.onPrev = function(){
$scope.currentPage=$scope.currentPage-1;
};
 
try{
if ( typeof($scope.data) == "undefined"){
$scope.data = [];
}
if ( typeof($scope.currentPage) == "undefined" ){
$scope.currentPage = 0;
}
if ( typeof($scope.pageSize) == "undefined"){
$scope.pageSize = 10;
}
}catch(e){ console.log(e);}
}
 
}
 
})
 

</script>

